<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" th:href="@{/css/index.css}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script th:href="@{/load-modal}"></script>
</head>

<body>
  <main>
    <nav class="container-fluid">
      <div th:replace="site/fragments/nav::nav"></div>
    </nav>
    <section class="container">
      <div layout:fragment="content"></div>
    </section>
    <footer class="row container-fluid mt-3">
      <div class="col">
        <div th:replace="site/fragments/footer::footer"></div>
      </div>
    </footer>
    <div id="modal-container" class="modal fade" tabindex="-1" role="dialog" data-bs-modal="true"></div>



    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <!-- Nội dung modal -->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Alert</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h4 style="color: red;" th:text="${param.error}"></h4>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </main>


  <!-- Optional JavaScript -->

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <script>
    function openModal(modalId) {
      var modalContainer = $("#modal-container");

      $.ajax({
        url: "/load-modal",
        type: "GET",
        data: { modalId: modalId },
        success: function (response) {
          modalContainer.html(response);
          modalContainer.modal('show');
        },
        error: function () {
          console.error("Không thể tải nội dung modal.");
        }
      });
    }
    $(document).ready(function() {
    // Kiểm tra nếu giá trị error tồn tại
    var error = '${param.error}';
    console.log(error);
    if (error && error.trim() != '') {
      // Hiển thị modal
      $('#errorModal').modal('show');
    }
  });
    // Khi người dùng nhấp vào nút đóng hoặc bấm bất kỳ nơi nào bên ngoài modal, ẩn modal form
    var closeButtons = document.querySelectorAll(".modal #close");
    closeButtons.forEach(function (button) {
      button.onclick = function () {
        var modal = button.closest(".modal");
        modal.style.display = "none";
      };
    });
  </script>

  <script src="https://kit.fontawesome.com/ce7b1cdc6d.js" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</body>

</html>