<div class="modal fade" id="DMK-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content p-4">
        <h3>Đổi mật khẩu</h3>
        <form action="" class="was-validated" method="post">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="exampleInputEmail1">Tài khoản</label>
                <input type="text" class="form-control is-valid" placeholder="Tài khoản" required>
                <span class="invalid-feedback">Vui lòng nhập tài khoản</span>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Mật khẩu</label>
                <input type="password" class="form-control is-valid" placeholder="Mật khẩu" required>
                <span class="invalid-feedback">Vui lòng nhập mật khẩu</span>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="pass">Mật khẩu mới</label>
                <input type="password" class="form-control is-valid" placeholder="Mật khẩu mới" required>
                <span class="invalid-feedback">Vui lòng nhập mật khẩu mới</span>
              </div>
              <div class="form-group">
                <label for="email">Xác nhận mật khẩu</label>
                <input type="password" class="form-control is-valid" placeholder="Xác nhận mật khẩu" required>
                <span class="invalid-feedback">Vui lòng nhập mật khẩu xác nhận</span>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Đổi mật khẩu</button>
          
        </form>
      </div>
    </div>
  </div>