<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body th:fragment="footer">
    <div class="heard text-center p-5" >
        <h2>Nhận tư vấn nhanh</h2>
        <div class="d-flex justify-content-center">
          <form action="" method="post" >
            <div class="form-group form-inline">
              <input type="text" class="form-control" name="" placeholder="Họ và tên">
              <input  class="form-control" type="text" name="" placeholder="Số điện thoại">
              <button class="btn btn-warning">Gọi cho tôi</button>
            </div>
          </form>
        </div>
    </div>
      <div class="footer-body pb-3">
        <div class="row text-center">
          <div class="col-4">
            <h1>CodeQuiz</h1>
            <p>0123-456-789</p>
            <p>dasfdaf@afdsfs.com</p>
            <p>34/11 Âu Cơ, Hòa Khánh Bắc, Thanh Khê, Đà Nẵng</p>
          </div>
          <div class="col-4 LienHe">
            <h4>Liên hệ</h4>
            <a href="#"><i class="fa-brands fa-square-facebook" style="color: #0232f2;"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
            <a href="#"><i class="fa-brands fa-google"></i></a>
          </div>
          <div class="col-3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1216.3456572631842!2d108.14888596083601!3d16.071967224109002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314218d61273b475%3A0x89dfb3fc84ac7bf1!2sHim%20Vintage!5e0!3m2!1svi!2s!4v1673177329081!5m2!1svi!2s" width="400" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
</body>
</html>