<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{site/dashboardLayoutSite.html}">

<head>
</head>

<body>
    <div class="card" layout:fragment="content">
        <div class="card-header">
            <h2>Cart Item</h2>
            
            <div class="row">
                <div class="col">
                    <div class="float-left">
                        <a th:href="@{/home}" class="btn btn-outline-info">Buy more</a>
                    </div>
                </div>
            </div>
        </div>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Amount</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                
                    <form action="/home/cartitem/update" method="post" th:each="item : ${CART_ITEMS}">
                        <input type="hidden" name="id" th:value="${item.ProductId}" />
                    <tr>
                        <td th:text="${item.ProductId}"></td>
                        <td th:text="${item.Name}"></td>
                        <td th:text="${item.Price}"></td>
                        <td><input name="qty" th:value="${item.Qty}"
                            onblur="this.form.submit()" style="width: 50px;"></td>
                        <td th:text="${item.Price*item.qty}"></td>
                        <td><a class="btn btn-primary btn-sm"
                            th:href="@{'/home/cartitem/del/' +${item.ProductId}}">Remove</a></td>
                    </tr>
                    </form>
            


            </tbody>
        </table>

        <div class="row">
            <div class="col">
                <h2 class="mr-2 float-left" id="totalAmount"></h2>
                <a th:href="@{/home/cartitem/buy}" class="btn btn-outline-success float-right">Thanh toán</a>
                <script th:inline="javascript">
                    var total = /*[[${TOTAL}]]*/ 0;
                    var formattedTotal = total.toLocaleString();
                    document.getElementById('totalAmount').innerText = 'Tổng tiền: ' + formattedTotal +'đ';
                </script>
            </div>
        </div>

    </div>
</body>

</html>