<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{site/dashboardLayoutSite.html}">

<head>
</head>

<body>
    <div class="card" layout:fragment="content">
        <div class="card-header">
            <h2>Order List</h2>
            
            <div class="row">
                <div class="col">
                    <form th:action="@{/admin/orders?searchPage}">
                        <div class="form-inline float-left">
                            <label for="">Name:</label>
                            <input type="text" class="form-control ml-2" name="name" placeholder="Name">
                            <button class="btn btn-outline-primary ml-2">Search</button>
                        </div>
                    </form>
                    <div class="float-right">
                        
                        <!-- loc theo ngay -->
                    </div>
                </div>
            </div>
        </div>

        <table class="table table-striped">
            <tr>
                <td>Order ID</td>
                <td>UserName</td>
                <td>Full Name</td>
                <td>Create Date</td>
                <td>Address</td>
                <td>&nbsp;</td>
            </tr>
            <tr th:each="item : ${orderPage.content}">
                <td>[[${item.id}]]</td>
                <td th:text="${item.account.username}"></td>
                <td th:text="${item.account.fullname}"></td>
                <td th:text="${item.createDate}"></td>
                <td th:text="${item.address}"></td>
                <td>
                    <a th:href="@{'/home/orderdetail/' + ${item.id}}" aria-hidden="true" class="btn btn-primary">
                        <i class="fa-solid fa-circle-info"></i>
                        </a>

                </td>
            </tr>
        </table>

        
        
        <div class="card-footer">
            <nav aria-label="Page navigation example" class="text-center" th:if="${orderPage.totalPages > 0}">
                <ul class="pagination justify-content-center">
                    <li th:class="${0 == orderPage.number +1} ? 'page-item active' : 'page-item'"><a
                            class="page-link"
                            th:href="@{/home/order?searchPage(name=${name}, size=${orderPage.size}, page= ${1})}">Fist</a>
                    </li>
                    <li th:each="pageNum : ${pageNumbers}" th:if="${orderPage.totalPages > 1}"
                        th:class="${pageNum == orderPage.number + 1} ? 'page-item active' : 'page-item'">

                        <a class="page-link"
                            th:href="@{/home/order?searchPage(name=${name}, size=${orderPage.size}, page= ${pageNum})}"
                            th:text="${pageNum}"></a>
                    </li>

                    <li th:class="${orderPage.totalPages == orderPage.number} ? 'page-item active' : 'page-item'">
                        <a class="page-link"
                            th:href="@{/home/order?searchPage(name=${name}, size=${orderPage.size}, page= ${orderPage.totalPages})}">last</a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
</body>

</html>