<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light" th:fragment="nav">
        <a class="navbar-brand" href="#">AdminPage</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/products}"><i class="fa-solid fa-parachute-box"></i>Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/accounts}"><i class="fa-solid fa-user"></i>Accounts</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" th:href="@{/admin/categories}"><i class="fa-solid fa-list"></i> Category</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href=""><i class="fa-solid fa-money-bill-wave"></i> Order</a>
            </li>
            </ul>
            
        </div>
    </nav>
</body>
</html>